{% load static %}
<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'devices/css/bootstrap-reboot.css' %}">
    <link rel="stylesheet" href="{% static 'devices/css/style.css' %}">
    <title>Cool Price</title>
</head>

<body>
    <div class="container">
        <div class="navbar">
            <div class="navbar-section-1">
                <div><a class="navbar-text" href="#"><b style="color: rgb(206, 28, 28);">Cool</b><b>Price</b></a></div>
            </div>
            <div class="navbar-section-2">
                <div><a class="navbar-text" href="#">About</a></div>
                <div><a class="navbar-text" href="#">Contacts</a></div>
                <div><a class="navbar-text" href="#">Info</a></div>
            </div>
        </div>
        {% block contents %}
        {% endblock %}
    </div>
    
</body>

</html>